.section-1{
    background-color: blue;
    color: white;
    height: 200px;
    width: 900px;
}
.section-2{
    background-color: brown;
    color: white;
    height: 200px;
    width: 900px;
}